<a href="https://colab.research.google.com/github/yjj2017130754/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

-for i in 리스트 => for루프를 4번 돈다. (리스트가 4개로 이루어져 있을 때)

-for i in range(4) => [0,1,2,3]의 리스트와 같은 경우, range(0.4)와 같은 경우

-리스트가 4개로 이루어져 있을 때 range(5) 또는 range(0.5)를 집어넣은 후 a[ ]을 출력하면 오류가 남

-range(0,7,2) => 0,2,4,6(0에서 6까지 2의 차이를 둠)

In [ ]:
for i in range(0,7,2): 
  print (i)

0
2
4
6

In [ ]:
a = [11, 2, 3, 4]
for i in range(len(a)):
    print(a[i])
for i in range(3):
  print(i)

11
2
3
4
0
1
2

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])
for i in range(2):
  print(a[i])

red
green
blue
purple
red
green

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = 1
if a == 0:
    print(a)
else:
    print(a+1)

2

## if 조건문
-if 

-else : if명제가 거짓일 때(else가 없다면 명제가 거짓일 때 아무것도 출력되지 않음)

- = : assign / == : equal

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

i -> 1,2   j -> 3,4

1 * 3 ->  1 * 4 -> 2 * 3 -> 2 * 4

i=1일 때의 경우(j=1일 때, j=2일 때) -> i=2일 때의 경우(j=1일 때, j=2일 때)

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

i for i in a if i >=2

=>

for i in a:

  if >= 2:

  i

를 리스트로 만들 때 사용

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

for i in a :

if lent(i) >= 4

i

red의 길이 -> 3 -> 못 들어감

green의 길이 -> 5 -> 들어감

...